
.meusfilmes{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 435px;
    background-color: #fff;
  }
  
  .meusfilmes h1{
    margin-bottom: 14px;
  }
  
  .meusfilmes span{
    font-size: 18px;
  }
  
  .meusfilmes ul{
    width: 720px;
  }
  
  .meusfilmes ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
  }
  
  .meusfilmes div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .meusfilmes div a {
    text-decoration: none;
    color: #116feb;
    margin-right: 14px;
  }

  .meusfilmes button {
    padding: 2px;
    background-color: #eb202a;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #eb202a ;
    transition: 0.5s;
  }

  .meusfilmes button:hover {
    background-color: #b60c15;
    cursor: pointer;
  }